<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <input type="text" id="fromUname" class="form-control" placeholder="Message">
    <label for="fromUname">Sender</label>
    <input type="text" id="toUname" class="form-control" placeholder="Message">
    <label for="toUname">Receiver</label>
    <div class="input-group" id="sendmessage">
        <input type="text" id="message" class="form-control" placeholder="Message">
        <div class="input-group-append">
            <button id="send" class="btn btn-primary" onclick="send()">Send</button>
        </div>
    </div>

    <script th:src="@{/webjars/sockjs-client/1.1.2/sockjs.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.js}" ></script>
    <script type="text/javascript">
    var stompClient = null;
    var fromUname = $("#fromUname").val();
    var toUname = $("#toUname").val();
    var socket = new SockJS('/ws');
    stompClient = Stomp.over(socket);
    stompClient.connect({username: fromUname}, function (frame) {
        console.log('Connected: ' + frame);
        stompClient.subscribe('/user/queue/messages', function (output) {
            });
        });
        
        function send() {
                var content = $("#message").val();
                console.log(content);
                stompClient.send("/chat/ws", {'username': fromUname},
                        JSON.stringify({
                        'fromUname': fromUname,    
                        'toUname': toUname,
                        'content': content}));                
                $("#message").val("");
        }
            
 
    </script>
</body>
</html>